#buttons{
    font-family: Georgia;
    margin-top: 25%;
    margin-left: 35%;
    position: absolute;
}
#addresss{
    font-family:Georgia;
    float: right;
    color: #e27d60;
    font-size: 40px;
    margin-right: 15%;
    top:200px;
}
#form1{
    font-family: Georgia;

}
